{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>		
	<link rel="stylesheet" type="text/css" href='{% static "piRNA/css/ex.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "piRNA/css/jquery.dataTables.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "piRNA/css/sweetalert2.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "piRNA/css/fixedColumns.dataTables.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "piRNA/css/suggestion.css" %}'>
	
	<script type="text/javascript" src="{% static 'bulge/js/showData.js' %}"></script>
	<script type="text/javascript" src="{% static 'bulge/js/noBulgeData.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/jquery-3.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/sweetalert2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/jquery.dataTables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bulge/js/effect.js' %}"></script>
	<script type="text/javascript" src="{% static 'bulge/js/overView.js' %}"></script>
	<script type="text/javascript" src="{% static 'bulge/js/seqView.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/range.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/tableEffect.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/piRNA_info.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/suggestion.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/dataTables.fixedColumns.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/seq_update.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/cookie.js' %}"></script>
</head>

<script>
var csrftoken = Cookies.get('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


$(document).ready(function(){
	function Submit(){
		var scanType = $(this).attr('id')
		swal.queue([{
		title : 'Scanning',
		imageUrl: "{% static 'piRNA/img/Magnify.gif' %}",
		showConfirmButton: false,
		// disableButtons: true,
		allowOutsideClick : false,
		}]);
		var start = 0;
		var end = 0;
		start = new Date().getTime();
		$('#overView,#seqView,#div_name3,#div_name,#div_name2').empty();
		$.ajax({
			url: "scan/", 
        	data:{ 
				data1:$('#gene').val(),
				scanType:scanType,
			},
			type: "POST", 
			dataType:'json',
			error: function(no){
				console.log(no);
				swal(
					'Scan cancelled',
					'System memory overload',
					'error'
				)
				},
			success: function(data){
				if(data.state=='nothing'){
					swal(
					'Scan cancelled',
					'The input aera is empty, please enter some sequence :)',
					'error'
					)
				}
				else if(data.state=='wrong'){
					swal(
					'Scan cancelled',
					'The input name got somthing wrong',
					'error'
					)
				}
				else if(data.state=='not_in'){
					swal(
					'Scan cancelled',
					'The input name is not in our data',
					'error'
					)
				}
				else if(data.state=='ok'){
					swal(
					'Scan cancelled',
					'OKOKOKOKOKOKOK',
					'error'
					)
				}
				else{
					console.log(data);
					if(scanType == 'TransformBTN1'){var seqViewDataArr = bulgeData(data);}
					else{var seqViewDataArr = noBulgeData(data);}
					// console.log(seqViewDataArr);
					var geneArr = data.gene.split("");
					// console.log(geneArr);
					$('#seqView').text('');
					$('#overView').text('');
					overView(geneArr,seqViewDataArr,'','');
					seqView(geneArr,seqViewDataArr,'','','',scanType);
					end = new Date().getTime();
					$(document).ready(function(){
						swal({
						type: 'success',
						title: 'Done!',
						html: 'With given criteria, '
							+data.newout.length
							+' targets sites are found for your target sequences.<br>Total running time : '
							+(end - start) / 1000 + " sec"
						});
					})
				}
			},
		})
		
		
	};
	$(document).on('click','#TransformBTN1',Submit);
	$(document).on('click','#TransformBTN2',Submit);
}); 

</script>

<body>
<b>Input gene's name: &nbsp;</b>
<input type="button" value="Example" id="example">&nbsp;
<!-- <input type="button" value="Example2" id="example2"> -->
<br><textarea  name="gene" id="gene" style = "width: 200px; height: 50px;" value="QQ"></textarea><br>
<p>

<input type="button" id="TransformBTN1" value="with bulge"/>
&nbsp;&nbsp;
<input type="button" id="TransformBTN2" value="without bulge"/>
<p>This web tool is maintained by Dr. <a href="https://www.researchgate.net/profile/Wei-Sheng_Wu">Wei-Sheng Wu</a>'s lab at National Cheng Kung University, Taiwan.</p>
<!-- <input type="button" id="TransformBTN" value="Transform and check!!" onClick="Submit()"/> -->
<hr>
<div id="test"></div>
<svg id="overView"></svg>
<svg id="seqView"></svg>
<div id="div_name"></div>
<div id="div_name2"></div>
<div id="div_name3"></div>
</body>

</html>
