{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href='{% static "piRNA/css/ex.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "piRNA/css/jquery.dataTables.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "piRNA/css/sweetalert2.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "piRNA/css/fixedColumns.dataTables.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "piRNA/css/suggestion.css" %}'>

	<script type="text/javascript" src="{% static 'piRNA/js/jquery-3.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/sweetalert2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/jquery.dataTables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bulge/js/effect.js' %}"></script>
	<script type="text/javascript" src="{% static 'bulge/js/overView.js' %}"></script>
	<script type="text/javascript" src="{% static 'bulge/js/seqView.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/range.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/tableEffect.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/piRNA_info.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/suggestion.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/dataTables.fixedColumns.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/seq_update.js' %}"></script>
	<script type="text/javascript" src="{% static 'piRNA/js/cookie.js' %}"></script>
</head>
<body>
<script>
</script>
{# <svg id="overView"></svg> #}
{# <svg id="seqView"></svg> #}
<div id="div_name"></div>
<div id='table'></div>

	<table>
		<thead>
			<tr>
				{% for h in header %}
					<th>{{ h }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for fuck in names %}
				<tr>
					<td>{{ fuck.0 }}</td>
					<td>{{ fuck.1 }}</td>
					<td>{{ fuck.2 }}</td>
					<td>{{ fuck.3 }}</td>
					<td>{{ fuck.4 }}</td>
				</tr>
			{% endfor %}
		</tbody>
		
	</table>
	

</body>
</html>