{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>piScan</title>

    

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bo_css/modern-business.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='{% static "piRNA/css/sweetalert2.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "piRNA/css/suggestion.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "piRNA/css/jquery.dataTables.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "piRNA/css/ex.css" %}'>
    
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- old JS -->
    <script type="text/javascript" src="{% static 'piRNA/js/effect.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/sweetalert2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/overView.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/seqView.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/range.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/tableEffect.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/piRNA_info.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/suggestion.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'piRNA/js/dataTables.fixedColumns.min.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'piRNA/js/seq_update.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/noBulgeData.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/resultCreate.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  </head>



  <script>
    if(document.URL == 'http://cosbi5.ee.ncku.edu.tw/piScan' || document.URL == 'http://140.116.215.236/piScan' || document.URL == 'http://140.116.215.236/piScan/'){
      window.location = 'http://cosbi5.ee.ncku.edu.tw/piScan/','_blank';
    }
    if(document.URL == 'http://cosbi4.ee.ncku.edu.tw/piScan' || document.URL == 'http://140.116.215.238/piScan' || document.URL == 'http://140.116.215.238/piScan/'){
      window.location = 'http://cosbi4.ee.ncku.edu.tw/piScan/','_blank';
    }
    if(document.URL == 'http://cosbi2.ee.ncku.edu.tw/piScan' || document.URL == 'http://140.116.215.227/piScan' || document.URL == 'http://140.116.215.227/piScan/'){
      window.location = 'http://cosbi2.ee.ncku.edu.tw/piScan/','_blank';
    }    
    var userNum = Math.floor((Math.random() * 10000000) + 1);
    // console.log(document.URL.slice(-1));
    window.sessionStorage["userNum"] = userNum;
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    function Submit(){
      var start = 0;
      var end = 0;
      start = new Date().getTime();
      swal.queue([{
      title : 'Scanning...',
      text: "Running time : 0 sec",
      imageUrl: "{% static 'piRNA/img/Magnify.gif' %}",
      disableButtons: true,
      showConfirmButton: false,
      allowOutsideClick : false,
      }]);

      var CDSType = $('input[name=CDS_type]:checked').val();
      if(CDSType == 0){
        var CDS__1 = -555;
        var CDS__2 = -555;
      }
      else if(CDSType == 2){
        var CDS__1 = '';
        var CDS__2 = '';
      }
      else{
        var CDS__1 = $('#CDS_1').val();
        var CDS__2 = $('#CDS_2').val();
      }
      
      $('#result').empty();        
      var clockTime = 1;
      var clock = setInterval(function(){
        $('#swal2-content').html('Running time : '+clockTime+' sec');
        clockTime++;
      }, 1050);
        $.ajax({
          url: "piRNA/Scan/scanOperation/", 
            data:{ 
            data1:$('#gene').val().replace(/\s+/g,""),
            seqName:$('#seqName').val(),
            opt1:$('#opt1').val(),
            opt2:$('#opt2').val(),
            opt3:$('#opt3').val(),
            opt4:$('#opt4').val(),
            opt5:$('#opt5').val(),
            operationTimes:0,
            nematodeType:$('#nematodeType').val(),
            CDS_1:CDS__1,
            CDS_2:CDS__2,
            userNum:userNum,
            // csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          type: "POST", 
          dataType:'json',
          error: function(no){
            clearInterval(clock);
            console.log(no);
            swal(
              'Scan cancelled',
              'There have some problem. Please contact the developer.',
              'error'
            )
            },
          success: function(data){
            clearInterval(clock);
            if(data.state=='nothing'){
              swal(
              'Scan cancelled',
              'The input aera is empty',
              'error'
              )
            }
            else if(data.state=='formatX'){
              swal(
              'Scan cancelled',
              'The input sequence format is wrong!!<br>\
              Please check it and try again!!<br>\
              <br>Note!!<br>\
              DNAseq is compose of "A"."T"."C"."G"<br>\
              RNAseq is compose of "A"."U"."C"."G"',
              'error'
              )
            }
            else if(data.state=='notfasta'){
              swal(
              'Scan cancelled',
              'The input is not in fasta format',
              'error'
              )
            }
            else if(data.state=='CDSX'){
              swal(
              'Scan cancelled',
              'The CDS specification is invalid',
              'error'
              )
            }
            else if(data.state=='weridType'){
              swal(
              'Scan cancelled',
              'The input sequence contains non-{A, T(U), C, G} characters',
              'error'
              )
            }
            else if(data.state=='noSeqName'){
              swal(
              'Scan cancelled',
              "Sequence name is not specified",
              'error'
              )
            }
            else if(data.state=='nematode'){
              swal(
              'Scan cancelled',
              "Sorry, this part hasn't opened yet",
              'error'
              )
            }
            else if(data.newout.length > 100){
              swal(
              'Too many hits('+data.newout.length+' identified piRNA target sites)',
              'Use more strict rules or shorter sequence.',
              'error'
              )
            }
            else{
              $.ajax({
                url: "piRNA/Scan/keepOld/", 
                data:{ 
                  userNum:data.userNum,
                },
                type: "POST", 
                dataType:'json',
                error: function(no){
                  console.log(no);
                  swal(
                    'Scan cancelled',
                    'There have some problem. Please contact the developer.',
                    'error'
                  )
                  },
                success: function(data){
                  window.location = document.URL+'update/','_blank';
                },
              })
              
            }
          },
        })
    };


    $(document).ready(function(){
      $.ajax({
                url: "piRNA/Scan/preeeCheck/", 
                // data:{ 
                //   userNum:data.userNum,
                // },
                type: "POST", 
                dataType:'json',
                error: function(no){
                  console.log(no);
                  swal(
                    'Scan cancelled',
                    'There have some problem. Please contact the developer.',
                    'error'
                  )
                  },
                success: function(data){
                  console.log(data);
                  if(data.OK == 'OK'){
                    $('#clean').trigger('click');
                    $('#TransformBTN').on('click',Submit);
                  }
                  else{
                    $('#gene').val(data.originalSeq);
                    $('#seqName').val(data.name);
                    $('#opt1').val(data.a);
                    $('#opt2').val(data.b);
                    $('#opt3').val(data.c);
                    $('#opt4').val(data.d);
                    $('#opt5').val(data.e);
                    if(data.CDS_region == "Whole input sequence"){
                      $('#CDST1').trigger('click');
                    }
                    else if(data.CDS_region == "None"){
                      $('#CDST3').trigger('click');
                    }
                    else{
                      $('#CDST2').trigger('click');
                      var CList = data.CDS_region.replace(/\s+/g,"").split('-');
                      $('#CDS_1').val(CList[0]);
                      $('#CDS_2').val(CList[1]);
                    }
                    $('#TransformBTN').on('click',Submit);
                  }             
                },
              })
      
    })
    // $(document).on('click','#TransformBTN',Submit);
  </script>



  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/piScan/" style="font-size: 1.3rem;"><b class="h2">piScan: </b>a web server to predict piRNA targeting sites and to avoid transgene silencing</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" href="http://cosbi5.ee.ncku.edu.tw/piScan">Home</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link active" href="/piScan/" style="font-size: 1.25rem;">Scan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/piScan/Tutorial" style="font-size: 1.25rem;">Tutorial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/piScan/Contact" style="font-size: 1.25rem;">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container-fluid" id='input'>  
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Scan
        <select class="custom-select" style="font-size: medium;" id="nematodeType">
          <option class = "clean" selected value="C.elegans">C. elegans</option>
          <option class = "clean" value="C.briggsae">C. briggsae</option>
          <!-- <option class = "clean" value="C.brenneri">C. brenneri</option>
          <option class = "clean" value="C.remanei">C. remanei</option> -->
        </select>
        <small>piRNA target sites in your sequence</small>
      </h1>
      <div class="row">
        <!-- input area -->
        <div class="col-xl-5 col-lg-12 my-3">
          <div class="card mb-2 h-100">
            <h4 class="card-header">Input</h4>
            <div class="card-body">
              <label for="gene" class="d-block"><b>Input your DNA (without introns) or spliced RNA sequence:</b></label>
                <!--  (in <a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&PAGE_TYPE=BlastDocs&DOC_TYPE=BlastHelp" target="_blank">FASTA format</a>) -->
              <textarea class="form-control " name="gene" id="gene" value="QQ" rows="9" style="width:100%; box-sizing: border-box; resize: none;"></textarea>
              <div class="mt-3">
                <p>
                  <div class="d-inline">  
                    <b>Specify your sequence name:</b> 
                  </div>
                  <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="seqName">
                  </div>
                </p>
                <p>
                  <div class="d-inline">  
                    <b>Specify coding sequence (CDS) region:</b> 
                  </div>
                  <div class="d-inline" style="white-space: nowrap;">        
                    <ul class="list-unstyled d-inline">                   
                      <li class="d-inline">
                        <label for="CDST1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="CDS_type" id='CDST1' value="0" checked>&nbsp;Whole input sequence&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                      </li>
                      <li class="d-inline">
                        <label for="CDST2"><input type="radio" name="CDS_type" id='CDST2' value="1">&nbsp;<input type="number" style="width: 60px" id='CDS_1' class='CDS' disabled>&nbsp;-&nbsp;<input type="number" style="width: 60px" id='CDS_2' class='CDS' disabled>&nbsp;&nbsp;&nbsp;</label>                   
                      </li>
                      <li class="d-inline">
                        <label for="CDST3">&nbsp;&nbsp;&nbsp;<input type="radio" name="CDS_type" id='CDST3' value="2">&nbsp;None&nbsp;&nbsp;&nbsp;</label>
                      </li>
                    </ul>                                  
                  </div>
                </p>

                <!-- old CDS option -->
                <!-- <div>
                  <input type="checkbox" id='CDS_ck'>&nbsp;&nbsp;<b>Coding sequence (CDS) region: &nbsp;&nbsp;&nbsp;</b>
                  <input type="number" style="width: 60px" id='CDS_1' class='CDS' disabled>&nbsp;-&nbsp;
                  <input type="number" style="width: 60px" id='CDS_2' class='CDS' disabled>
                </div> -->

                <div class="mt-3" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary btn-sm" id="example">Example 1</button>
                  <button type="button" class="btn btn-secondary btn-sm" id="example2">Example 2</button>
                  <span class="float-right"><button type="button" class="btn btn-secondary btn-sm float-right mb-2" id="clean">Clear</button></span>
                </div>
              </div>
            </div>
            <!-- <div class="card-footer"> -->
              <!-- <div class="=mt-1 float-right" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary btn-sm" id="example">Example 1</button>
                <button type="button" class="btn btn-secondary btn-sm" id="example2">Example 2</button>
              </div> -->
            <!-- </div> -->
          </div>
        </div>
        
        <!-- Scan filter options -->
        <div class="col-xl-7 col-lg-12 my-3">
          <div class="card mb-2 h-100">
            <h4 class="card-header">piRNA targeting rules</h4>
            <div class="card-body h-100">
              <!-- <div class="float-right mb-3">
                <button type="button" class="btn btn-secondary" id="reset_to_default">Default Setting</button>
              </div> -->
              <div class="row h-100">
                <div class="col-12 col-md-5 align-self-center">
                  
                    <img class="img-fluid rounded" src="{% static 'piRNA/img/QQ.png' %}" alt="">
                                    
                </div>
                <!-- <div class="col-lg-1">
                </div> -->
                <div class="col-12 col-md-7">
                  <ul class="list-unstyled">             
                    
                    <li class="card-text mb-2">
                      <button type="button" class="btn btn-secondary" id="reset_to_default">Default Setting</button>
                    </li>
                    
                    <br>

                    <li class="card-text">
                      <b>Number of mismatches allowed at seed region:</b>
                    </li>


                    <li>
                      <ul>
                        <li>
                          <label class="mr-sm-2" for="opt1">number of non-GU pairs &nbsp;≤&nbsp;</label>
                          <select id="opt1">
                            <option class = "clean" selected value="0">0</option>
                            <option class = "clean" value="1">1</option>
                            <option class = "clean" value="2">2</option>
                            <option class = "clean" value="3">3</option>
                            <option class = "clean" value="4">4</option>
                            <option class = "clean" value="5">5</option>
                            <option class = "clean" value="6">6</option>
                          </select>
                        </li>
                        <!-- <br> -->
                        <li>
                          <label class="mr-sm-2" for="opt2">number of GU pairs &nbsp;≤&nbsp;</label>
                          <select id="opt2">
                            <option class = "clean" value="0">0</option>
                            <option class = "clean" value="1">1</option>
                            <option class = "clean" selected value="2">2</option>
                            <option class = "clean" value="3">3</option>
                            <option class = "clean" value="4">4</option>
                            <option class = "clean" value="5">5</option>
                            <option class = "clean" value="6">6</option>
                          </select>
                        </li>
                      </ul>
                    </li>
                    
                    <br>
                    <br>

                    <li class="card-text">
                      <b>Number of mismatches allowed at non-seed region:</b>
                    </li>


                    <li>
                      <ul>
                        <li>
                          <label class="mr-sm-2" for="opt3">number of non-GU pairs &nbsp;≤&nbsp;</label>
                          <select id="opt3">
                            <option class = "clean" value="0">0</option>
                            <option class = "clean" value="1">1</option>
                            <option class = "clean" selected value="2">2</option>
                            <option class = "clean" value="3">3</option>
                            <option class = "clean" value="4">4</option>
                            <option class = "clean" value="5">5</option>
                            <option class = "clean" value="6">6</option>
                            <!-- <option class = "clean" value="7">7</option>
                            <option class = "clean" value="8">8</option>
                            <option class = "clean" value="9">9</option>
                            <option class = "clean" value="10">10</option>
                            <option class = "clean" value="11">11</option>
                            <option class = "clean" value="12">12</option>
                            <option class = "clean" value="13">13</option>
                            <option class = "clean" value="14">14</option> -->
                          </select>
                        </li>
                        <li>
                          <label class="mr-sm-2" for="opt4">number of GU pairs &nbsp;≤&nbsp;</label>
                          <select id="opt4">
                            <option class = "clean" value="0">0</option>
                            <option class = "clean" value="1">1</option>
                            <option class = "clean" value="2">2</option>
                            <option class = "clean" selected value="3">3</option>
                            <option class = "clean" value="4">4</option>
                            <option class = "clean" value="5">5</option>
                            <option class = "clean" value="6">6</option>
                         <!--    <option class = "clean" value="7">7</option>
                            <option class = "clean" value="8">8</option>
                            <option class = "clean" value="9">9</option>
                            <option class = "clean" value="10">10</option>
                            <option class = "clean" value="11">11</option>
                            <option class = "clean" value="12">12</option>
                            <option class = "clean" value="13">13</option>
                            <option class = "clean" value="14">14</option> -->
                          </select>
                        </li>
                      </ul>
                    </li>

                    <br> 
                    <br> 

                    <li>
                      <label class="mr-sm-2" for="opt5"><b>Total number of mismatches at seed & non-seed regions <span style="white-space: nowrap;">≤&nbsp;
                      <select id="opt5">
                        <option class = "clean" value="0">0</option>
                        <option class = "clean" value="1">1</option>
                        <option class = "clean" value="2">2</option>
                        <option class = "clean" value="3">3</option>
                        <option class = "clean" value="4">4</option>
                        <option class = "clean" value="5">5</option>
                        <option class = "clean" selected value="6">6</option>
                        <!-- <option class = "clean" value="7">7</option>
                        <option class = "clean" value="8">8</option>
                        <option class = "clean" value="9">9</option>
                        <option class = "clean" value="10">10</option>
                        <option class = "clean" value="11">11</option>
                        <option class = "clean" value="12">12</option>
                        <option class = "clean" value="13">13</option>
                        <option class = "clean" value="14">14</option>
                        <option class = "clean" value="15">15</option>
                        <option class = "clean" value="16">16</option>
                        <option class = "clean" value="17">17</option>
                        <option class = "clean" value="18">18</option>
                        <option class = "clean" value="19">19</option>
                        <option class = "clean" value="20">20</option>
                        <option class = "clean" value="21">21</option> -->
                      </select></span></b></label>
                    </li>


                    
                    

                    <!-- <li>
                      <ul>
                        <li>
                        choose region :
                        <input type="number" style="width: 60px" id='CDS_1' class='CDS' disabled>&nbsp;~&nbsp;
                        <input type="number" style="width: 60px" id='CDS_2' class='CDS' disabled>
                        </li>
                      </ul>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mb-3">
        <button type="button" class="btn btn-lg btn-primary mb-2 mt-4" id="TransformBTN" style="width: 15%;">SCAN</button>
      </div>    
    </div>
    <div id="result"></div>

  <!-- Footer -->
  <footer id='footer' class="footer bg-dark">
    <div class="container-fluid">
     <!--  <p class="m-0 text-center text-white">This web tool is maintained by Dr. <a href="https://www.researchgate.net/profile/Wei-Sheng_Wu" target="_blank">Wei-Sheng Wu</a>'s lab at National Cheng Kung University, Taiwan.</p> -->
      <div class="row">
        <p class="col-12 mt-0 text-center text-white" style="margin-bottom: -10px;">For best performance, please use <a href="https://www.google.com.tw/chrome/browser/desktop/index.html" target="_blank">Google Chrome</a>. piScan also supports other web browsers like <a href="https://www.mozilla.org/" target="_blank">Firefox</a>, <a href="http://www.opera.com/" target="_blank">Opera</a> and <a href="https://microsoft-edge.en.softonic.com/" target="_blank">Microsoft Edge</a>.</p>
      </div>
    </div>
    <!-- /.container -->
  </footer>
  
</body>

</html>
