{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NEW piScan</title>

    

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bo_css/modern-business.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='{% static "piRNA/css/sweetalert2.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "piRNA/css/suggestion.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "piRNA/css/jquery.dataTables.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "piRNA/css/ex.css" %}'>
    <!-- <link rel="stylesheet" type="text/css" href='{% static "piRNA/css/dataTables.bootstrap4.min.css" %}'> -->
    
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- old JS -->
    <script type="text/javascript" src="{% static 'piRNA/js/effect.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/sweetalert2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/overView.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/seqView.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/range.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/tableEffect.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/piRNA_info.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/suggestion.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'piRNA/js/dataTables.fixedColumns.min.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'piRNA/js/seq_update.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/noBulgeData.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/resultCreate.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/load_the_page.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/showDaTable.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/preSeqView.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/newScan.js' %}"></script>
    <script type="text/javascript" src="{% static 'piRNA/js/saveSvgAsPng.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- <script type="text/javascript" src="{% static 'piRNA/js/dataTables.bootstrap4.min.js' %}"></script> -->
  </head>



  <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $.ajax({
      url: "readUserNum/",
      data:{ 
        userNum:window.sessionStorage["userNum"],          
      },
      type: "POST", 
      dataType:'json',
      error: function(no){
        console.log(no);
        swal(
          'Scan cancelled',
          'System memory overload',
          'error'
        )
      },
      success: function(data){
        if (data.out == 'nonono'){
          window.location = document.URL.replace('update/',''),'_blank';
        }
        else{
          dataLoad(data.out);
        }        
      }
    })
    
        
    function dataLoad(userNum){
      $.ajax({
        url: "firstResult/", 
        data:{ 
          userNum:userNum,          
        },
        type: "POST", 
        dataType:'json',
        error: function(no){
          console.log(no);
          swal(
            'Scan cancelled',
            'System memory overload',
            'error'
          )
          },
        success: function(data){
          window.onbeforeunload = function(){
            // var qq = $('#overallTab > li').length;
            // var lastqq = $('#modify_'+(qq-1)+'-tab-list > span').length;
            $.ajax({
              url: "deleteUserNum/",
              async:false, 
              data:{
                userNum:data.userNum,
                qq:$('#overallTab > li').length,
                lastqq:$('#modify_'+($('#overallTab > li').length-1)+'-tab-list > a > span').length,
              },
              type: "POST", 
              dataType:'json',
              error: function(no){
                console.log(no);
                swal(
                  'Scan cancelled',
                  'System memory overload',
                  'error'
                )
              },
              success: function(data){
                console.log('no');
              }
            });                       
          }
          console.log(data);
          if(data.newout.length == 0){
            $('#original > div.text-center').remove();
            $('#originalResult').append('\
              <div class="alert alert-success" role="alert">\
                <h2 class="alert-heading">Success!</h2>\
                <p>No piRNA target site is found in the modified sequence.</p>\
              </div>\
            ');
            var strVar = '';
            strVar += '\
              <div class="card mb-4 h-100 darkC">\
                <h3 class="card-header darkCH">Your sequence</h3>\
                <div class="card-body text-dark text-center">\
                  <svg id="preSeqView-0"></svg>\
                </div>\
              </div>\
            ';

            $('#originalResult').append(strVar);
            preSeqView('preSeqView-0',data,$('#wrap').width()*0.775);
            $(document).ready(function(){
                $(window).resize(function() {
                  $('#preSeqView-0').empty();
                  preSeqView('preSeqView-0',data,$('#wrap').width()*0.775);
                });
            });
          }
          else{
            resultCreate('originalResult',userNum);
            var pic2src = "{% static 'piRNA/img/QQ.png' %}";
            var scanUrl = "{% static 'piRNA/img/Magnify.gif' %}"
            noBulgeData('originalResult',data);
            var geneArr = data.gene.split("");
            var seqViewDataArr = seqView('originalResult',geneArr,data,data.CDS[0].split(''),data.CDS1,data.CDS2,$('#wrap').width()*0.775);
            var newSug = arrangeSug(data.suggestion);
            var oldSeqViewDataArr = seqViewDataArr
            if(data.newout.length != 0){
              shit(
                'originalResult',
                newSug.inCDS,
                newSug.notInCDS,
                data.options.core_non_GU,
                data.options.core_GU,
                data.options.non_core_non_GU,
                data.options.non_core_GU,
                data.options.total,
                data.name,
                data.gene,
                data.options.nematodeType,
                data.CDS1,
                data.CDS2,
                data.csrf,
                data,
                pic2src,
                scanUrl,
                seqViewDataArr,
                data.userNum,
                oldSeqViewDataArr
              );
              // 預勾
              var preCount = 0;
              for (var preCheck in newSug.inCDS){
                if($('#originalResult-rule'+preCheck+'_0').html() == '✕'){
                  $('#originalResult-ck'+preCheck+'_0').prop('checked',true);
                  $('#originalResult-ck'+preCheck+'_1').prop('checked',true);
                  preCount++;
                }
                else{
                  $('#originalResult-ck'+preCheck+'_0').prop('checked',true);
                  preCount++;
                }
              }
              for (var preCheck2 in newSug.notInCDS){
                var num = preCount+Number(preCheck2);
                if($('#originalResult-rule'+num+'_0').html() == '✕'){
                  $('#originalResult-ck'+num+'_0').prop('checked',true);
                  $('#originalResult-ck'+num+'_1').prop('checked',true);
                }
                else{
                  $('#originalResult-ck'+num+'_0').prop('checked',true);
                }
              }
              // console.log($('#originalResult-rule0_2').html());
              // if(data.EX == 'ex1'){
              //   $('#originalResult-ck0_0').prop('checked',true);
              //   $('#originalResult-ck1_0').prop('checked',true);
              // }
              // else if(data.EX == 'ex2'){
              //   var pickList = ['0_0','1_0','2_0','3_0'];
              //   for (var i in pickList){
              //     $('#originalResult-ck'+pickList[i]).prop('checked',true);
              //   }
              // }
            } 
            
            console.log(seqViewDataArr);
            overView('originalResult',geneArr,seqViewDataArr,data.CDS1,data.CDS2,$('#wrap').width()*0.82,data.newout);            
            $(document).ready(function(){
                $(window).resize(function() {
                  $('#originalResult-overView').empty();
                  overView('originalResult',geneArr,seqViewDataArr,data.CDS1,data.CDS2,$('#wrap').width()*0.82,data.newout);
                  $('#originalResult-seqView').empty();
                  seqView('originalResult',geneArr,data,data.CDS[0].split(''),data.CDS1,data.CDS2,$('#wrap').width()*0.775);
                });
            });
          }
        },
      });
    };
    function arrangeSug(data){
      var output = data;
      for (var x in data.inCDS){
        var newArr = [];
        var tempPos = 0;
        for (var y in data.inCDS[x][7]){
          if(data.inCDS[x][7][y][1] != tempPos){
            tempPos = data.inCDS[x][7][y][1];
            newArr.push([data.inCDS[x][7][y]]);
          }
          else{
            newArr[newArr.length-1].push(data.inCDS[x][7][y]);
          }   
        }
        output.inCDS[x][7] = newArr;
      }
      for (var x in data.notInCDS){
        var newArr = [];
        var tempPos = 0;
        for (var y in data.notInCDS[x][7]){
          if(data.notInCDS[x][7][y][0] != tempPos){
            tempPos = data.notInCDS[x][7][y][0];
            newArr.push([data.notInCDS[x][7][y]]);
          }
          else{
            newArr[newArr.length-1].push(data.notInCDS[x][7][y]);
          }   
        }
        output.notInCDS[x][7] = newArr;
      }
      return data
    };
    // $(document).ready(function(){
    //   $('#Modify').on('click',function(){
    //     // window.location = document.URL.replace(/\?fref=gc&dti=[0-9]+/,'')+"update/",'_blank';
    //     window.open('/piScan/Scan/modify/','_blank',
    //       "toolbar=yes,scrollbars=yes,resizable=yes,top=50,left=5,width=1900,height=900");
    //   });
    // });
  </script>



  <body>
    <div class="tooltip p-3" style="opacity: 0;" id="tooltip"></div>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/piScan/">piScan</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" href="http://cosbi5.ee.ncku.edu.tw/piScan">Home</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/piScan/">Scan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/piScan/Tutorial">Tutorial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/piScan/Contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container-fluid" id='wrap'>  
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3 display-4">piRNA Target Site Scan Result
        <!-- <small>Updated gene piRNA target operation</small> -->
      </h1>
      <div class="card mb-5">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="overallTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="original-tab" data-toggle="tab" href="#original" role="tab" aria-controls="original" aria-selected="true">Input Sequence</a>
            </li>
          </ul>
        </div>
        <div class="card-body tab-content" id="overallTabContent">
          <div class="tab-pane fade show active" id="original" role="tabpanel" aria-labelledby="original-tab">
            <div id="originalResult"></div>
            <div class="text-center">
              <!-- Button trigger modal -->
              <button type="button" id="Modify" class="btn btn-primary btn-lg mb-2" data-toggle="modal" data-target="#originalResult-suggetions-out">Modifiy input sequence</button>             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="result"></div>

  <!-- Footer -->
  <footer id='footer' class="footer bg-dark">
    <div class="container-fluid">
      <p class="m-0 text-center text-white">This web tool is maintained by Dr. <a href="https://www.researchgate.net/profile/Wei-Sheng_Wu">Wei-Sheng Wu</a>'s lab at National Cheng Kung University, Taiwan.</p>
      {# <p class="mt-0 text-center text-white">For best performance, please use <a href="https://www.google.com.tw/chrome/browser/desktop/index.html" target="_blank">Google Chrome</a>. piScan also supports other web browsers like <a href="https://www.mozilla.org/" target="_blank">Firefox</a>, <a href="http://www.opera.com/" target="_blank">Opera</a> and <a href="https://microsoft-edge.en.softonic.com/" target="_blank">Microsoft Edge</a>.</p> #}
    </div>
    <!-- /.container -->
  </footer>
  <!-- Modal -->
  <div class="modal fade" id="originalResult-suggetions-out" tabindex="-1" role="dialog" aria-labelledby="original-exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-soBig" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="original-exampleModalLongTitle">Introduce silent mutations <samll>(without changing the coded amino acid sequence)</samll> to escape the piRNA targeting</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="originalResult-sugTable"></div>
        </div>
        <div class="modal-footer">
          <div class="container text-center">          
            <button type="button" id="originalResult-update" class="btn btn-primary" value="0">Accept selected modifications</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
