.intro {
    font-size: 150%;
    color: red;
}
#detail{
  text-align:center;
  font-family : Lucida Console;
  font-size:15pt;
}

th{
  text-align:center;
}

mark{
  background-color: yellow;
  padding: 0em;
}
#b{
  background-color:lightblue;
}
#g{
  background-color:lightgreen;
}
#L{
  color:red;font-family:Arial;
}
select {
  width:50;
  height:22;
  font-size:18;
}
p{
  font-size:18;
}
g.feature.piRNAs rect.feature {
            fill: red;
            fill-opacity: 0.8;
}
g.feature.piRNAs:hover rect.feature {
    fill: black;
    fill-opacity: 0.8;
}

g.feature.piRNAs text {
    font-weight: bold;
    fill: yellow;
}
g.feature.piRNAs rect.feature-block-end {
    display: none;
}
.mid{
  text-align:center;
}
div.blue{
  background-color: blue;
}
div.tooltip { 
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;    
}
